{% block widget_attributes %}
	class="form-control"
{% endblock %}

{% block button_attributes %}
	class="btn btn-default"
{% endblock %}

{% block form_row %}
	<div class="form-group">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock %}
