{% extends '::layout.html.twig' %}

{% block title %}CS587 | Repository Selector{% endblock %}

{% block content %}
	<div class="page-header">Select a repository</div>
	{{ form(form) }}
{% endblock %}
