{% extends '::layout.html.twig' %}

{% block title %}Edit Grade{% endblock %}

{% block nav_page_admin %}active{% endblock %}
{% block nav_page_admin_assignments %}active{% endblock %}

{% block content %}
	<h1>Grade for {{ grade.user.username }} ({{ grade.user.realName }}) on {{ grade.assignment.name }}</h1>

	{{ form(form) }}
{% endblock %}
