{% extends '::layout.html.twig' %}

{% block title %}Users{% endblock %}

{% block nav_page_admin_profile %}active{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">Users</div>

		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Real Name</th>
				<th>Repository</th>
			</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.realName }}</td>
					<td>{{ user.repository }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
