{% extends '::layout.html.twig' %}

{% block title %}cs585 | Repository Selector{% endblock %}

{% block nav_page_admin_profile %}active{% endblock %}

{% block content %}
	<div class="page-header">Select a repository</div>
	{{ form(form) }}
{% endblock %}
